@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Retorno</h1>
    @*<a class="btn btn-primary" id="btn">Teste</a>*@
    <form method="post" id="2" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Usu" class="control-label"></label>
                <input asp-for="Usu" class="form-control" name="Usuario" required />
                <span asp-validation-for="Usu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pass" class="control-label"></label>
                <input asp-for="Pass" type="password" class="form-control" name="Senha" required />
                <span asp-validation-for="Pass" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Teste" class="btn btn-primary" />
            </div>        
    </form>
    <div class="row justify-content-center text-center">
        <h2 class="display-3"> Camera ID: 3 (8084)</h2>
    </div>
    <form asp-page-handler="cam" method="POST" class="row row-cols-auto justify-content-center text-center">
        <button class="btn btn-default">Enviar Todos da Camera 3</button>
    @foreach (var reg in Model.CList)
    {
        <div class="card col m-2">
            <p>RecNo = </p>
            <p>@(reg.GetId())</p>
        </div>
    }
    </form>
</div>
